<div class="container">
	<div class="row">
		<% @tasks.each do |t| %>
		<div class="task">
			<% @tasks_id = t.id %>
			<%= link_to task_path(@tasks_id), method: :delete do %>
			<button class="btn btn-info btn-sm">Delete</button>
			<% end %>

			<p><%= t.todo %></p>
			

		</div>
		<% end %>
	</div>
</div>