// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
	display: inline;
}
.task {
	margin: 5px 0px;
}
.new-task {
	text-align: center;
}
#task_todo {
	display: block;
	margin: auto;
	margin-bottom: 5px;
	min-width: 400px;
	min-height: 100px;
}